<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="top.mylady.service.mappers.brand.BrandMapper">
    
    <resultMap id="BaseResultMap" type="top.mylady.service.pojo.Brand">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="image" property="image"/>
        <result column="letter" property="letter"/>
    </resultMap>
    
    <!--查询品牌, 返回一个list-->
    <select id="queryBrand" resultMap="BaseResultMap">
        select * from tb_brand;
    </select>
    
    <select id="queryBrandCount" resultType="java.lang.Integer">
        select count(*) from tb_brand;
    </select>
    
    <!--
    其他查询, 根据传入对象不同, 分别查询
        select * from students where gender=1 and is_delete=0 order by id desc;
    分页查询:
        select * from students where is_delete=0 limit (n-1)*m,m
        
    where 元素知道只有在一个以上的if条件有值的情况下才去插入“WHERE”子句而且,
    若最后的内容是“AND”或“OR”开头的, where 元素也知道如何将他们去除
    -->
    <select id="queryBrandByPage" resultMap="BaseResultMap">
        select * from tb_brand
        
        <if test="sortBy != null and sortBy != '' ">
            order by ${sortBy}
        </if>
        
        <if test="desc == true">
            desc
        </if>
        
         limit ${page}, ${rows}
    </select>
    
</mapper>